<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <br />
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" /> &nbsp;&nbsp;
                <email endereco="vsaguiar@outlook.com" conteudo="Enviar um e-mail" style="font-size:large"></email>
            </span>
            <br />
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" /> &nbsp;
                <strong style="font-size:large">(21) 9874-5566</strong>
            </span>
            <br />
            <br />
            <span>
                <img src="~/images/Home-iconred.png" /> &nbsp;
                <strong style="font-size:medium">Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</strong>
            </span>
            
        </p>
    </div>
</div>